<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>569462413352-m5qvsapi5s4n232aun8vtnmpiva7669d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569462413352-m5qvsapi5s4n232aun8vtnmpiva7669d</string>
	<key>API_KEY</key>
	<string>AIzaSyArtusUjSP6d8knOx2N4ZYl4UtH_G8xx4o</string>
	<key>GCM_SENDER_ID</key>
	<string>569462413352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wwdc-family.WWDCFamily</string>
	<key>PROJECT_ID</key>
	<string>wwdcfamily-ee03f</string>
	<key>STORAGE_BUCKET</key>
	<string>wwdcfamily-ee03f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:569462413352:ios:76046d8e8016e917</string>
	<key>DATABASE_URL</key>
	<string>https://wwdcfamily-ee03f.firebaseio.com</string>
</dict>
</plist>